In [8]:
l=["i am shafin Tamim", "i am a student of CSE"]

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame({"name":l})
df

                    name
0      i am shafin Tamim
1  i am a student of CSE

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
cv=CountVectorizer()

In [16]:
new_df=cv.fit_transform(df['name']).toarray()

In [17]:
new_df

array([[1, 0, 0, 1, 0, 1],
       [1, 1, 1, 0, 1, 0]], dtype=int64)

In [18]:
cv.vocabulary_

{'am': 0, 'shafin': 3, 'tamim': 5, 'student': 4, 'of': 2, 'cse': 1}